[default]
FileStorePath=target/data/banzai
ConnectionType=initiator
SenderCompID=BANZAI
TargetCompID=XSOR
SocketConnectPort=9880
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
ReconnectInterval=15

ResetOnLogon=Y

#SocketUseSSL=Y
#CipherSuites=TLS_RSA_WITH_AES_128_CBC_SHA
#EnabledProtocols=TLSv1.2

#[session]
#BeginString=FIX.4.4
#SocketConnectHost=qa.mainbloq.net
#SenderCompID=QA

#[session]
#BeginString=FIX.4.4
#SocketConnectHost=127.0.0.1
#SenderCompID=DEV-QUICKFIXJ

#[session]
#BeginString=FIX.4.4
#SocketConnectHost=127.0.0.1
#SenderCompID=DEV-MASTER

[SESSION]
SocketUseSSL=Y
ConnectionType=initiator
BeginString=FIX.4.2
TargetCompID=Coinbase
SocketConnectHost=fix.pro.coinbase.com
SocketConnectPort=4198
SenderCompID=b5d53ad5b9b6ae1e6055e184cb22a2cb


UseDataDictionary=N